<div>
  <h1 id="main-title">Angular 2 Stock Trading</h1>

  <button *ngIf="!loggedIn()" (click)="login()">Login</button>
  <button *ngIf="loggedIn()" (click)="logout()">Logout</button>

  <h3>Recent trades</h3>
  <ul>
    <li *ngFor="#trade of trades">
      company: {{trade.company}}, shares: {{trade.shares}}, id: {{trade.id}}
    </li>
  </ul>

  <h3>Create a trade</h3>
  <form (ngSubmit)="createTrade()">
    <input [(ngModel)]="newTrade.symbol" class="stock-form-input" placeholder="Stock Symbol" required/><br>
    <input [(ngModel)]="newTrade.number" class="stock-form-input" placeholder="Number of Shares" type="number" required/><br>
    <div id="stock-form-last-line-container">
      <div id="stock-form-checkbox-container">
        <input id="stock-form-checkbox" type="checkbox" [(ngModel)]="newTrade.checkboxState" required/>
        <span id="stock-form-checkbox-text" class="disable-selection" (click)="newTrade.checkboxState = !newTrade.checkboxState">Confirmed</span>
      </div>
      <button id="trade-button" type="submit">Create a trade</button>
    </div>
  </form>
</div>